###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> Environment configuration files (Security) ###
.env.dev.local
.env.test.local
.env.prod.local
.env.dev
###< Environment configuration files ###

###> OS & IDEs (Keep repository clean) ###
.DS_Store
Thumbs.db
/.idea/
/.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
###< OS & IDEs ###
